{% extends 'index.html' %}

{% block content %}
    <section>
        <h2>Gold Price Analysis</h2>
        <p><span>Current Price:</span> ${{ current_gold_price }}</p>
        <p><span>Next Day Price Movement Prediction:</span> {{ next_day_prediction }}</p>
        <p><span>Short-term SMA:</span> ${{ short_term_sma|floatformat:2 }}</p>
        <p><span>Long-term SMA:</span> ${{ long_term_sma|floatformat:2 }}</p>
    </section>

    <section>
        <h2>MACD Analysis</h2>
        <p><span>MACD:</span> ${{ prices_df.MACD|floatformat:2 }}</p>
        <p><span>Signal Line:</span> ${{ prices_df.Signal_Line|floatformat:2 }}</p>
    </section>

    <section>
        <h2>Weekly Analysis</h2>
        <p><span>Weekly Short-term SMA:</span> ${{ weekly_short_term_sma|floatformat:2 }}</p>
        <p><span>Weekly Long-term SMA:</span> ${{ weekly_long_term_sma|floatformat:2 }}</p>
    </section>

    <section>
        <h2>Next Week Analysis (Trend-Based)</h2>
        <p><span>Next Week Predicted Price (Trend):</span> ${{ next_week_price_trend|floatformat:2 }}</p>
        <p><span>Next Week Price Movement Prediction (Trend):</span> {{ next_week_prediction_trend }}</p>
    </section>

    <!-- Добавьте другие секции по аналогии для других переменных -->

{% endblock %}
